header {
    display: inline-block;
    width: 100%;
    margin: auto;
    background: white;
    border-bottom: solid gray 2px;
    }

h1 {font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
    margin-top: 0;
    padding: 20px;
    position: relative;
    bottom: 0px;
    left: 0px;

    }

h2 {font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaaa5;
    }

p {font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    }

body {background-image: url("../images/interlaced.png");
    width: 960px;
    margin: auto;
    }
    
nav {float: right;
    }

#name  {float: left;
    }

.aboutme {clear: both
}

ul {list-style-type: none;
}

footer {
}


